@charset "utf-8";
/* CSS Document */

#dhtmlwindowholder #content .topbar {
	position:absolute;
	left:0px;
	top:0px;
	right:0px;
	height:35px;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E4OTk5OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjU4JSIgc3RvcC1jb2xvcj0iIzk5ODY4NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2ZDZkNmQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(168,153,153,1) 0%, rgba(153,134,134,1) 58%, rgba(109,109,109,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(168,153,153,1)), color-stop(58%,rgba(153,134,134,1)), color-stop(100%,rgba(109,109,109,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(168,153,153,1) 0%,rgba(153,134,134,1) 58%,rgba(109,109,109,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(168,153,153,1) 0%,rgba(153,134,134,1) 58%,rgba(109,109,109,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(168,153,153,1) 0%,rgba(153,134,134,1) 58%,rgba(109,109,109,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(168,153,153,1) 0%,rgba(153,134,134,1) 58%,rgba(109,109,109,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a89999', endColorstr='#6d6d6d',GradientType=0 ); /* IE6-8 */
}

#dhtmlwindowholder #content .tablebar {
	height:25px;
}

#dhtmlwindowholder #content .sidebar {
	background: #cdcdcd;
}