ul li {
	display: none;
}
#menubar {
        position: fixed;
	margin: 0;
        height:21px;
        width: 100%;
        top: 0px;
        left: 0px;
	padding: 0;
	line-height: 100%;

	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);

	background: #8b8b8b; /* for non-css3 browsers */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#a9a9a9', endColorstr='#7a7a7a'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#82806B), color-stop(100%,#716E61));
	background: -moz-linear-gradient(top,  rgba(0, 0, 0, 0.4),  rgba(0, 0, 0, 0.4)); /* for firefox 3.6+ */

	border: solid 1px rgba(0, 0, 0, 0.5);
	z-index: 2147487;
}
* {
    font-family: monospace;
}
#menubar ul {
	width: auto;
	position: absolute;
	left:-40px;
	top: -15px;
}
#menubar ul ul {
	background: #ddd; /* for non-css3 browsers */
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#cfcfcf'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#82806B), color-stop(100%,#716E61));

	display: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 21px;
	width: 100px;
	left: 0;
	list-style: none;
	//border: solid 1px black;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
	z-index: 3640;
}
#menubar ul li a {
	position: relative;
	height: 21px;
        align: center;
	font-weight: normal;
	text-shadow: 0 1px 1px rgba(255, 255, 255, .9);
        font-size: 25;
        top: -6px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 0px;
        padding-bottom: 0px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
}
#menubar ul li img {
	position: relative;
	height: 21px;
        align: center;
	font-weight: normal;
	text-shadow: 0 1px 1px rgba(255, 255, 255, .9);
        font-size: 25;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 0px;
        padding-bottom: 0px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
}
#menubar ul li {
	position: static;
        display: inline-block;
}
#menubar ul ul li {
	position: relative;
        align: center;
	float: none;
	margin: 0;
	padding: 0;
	left:-1px;
	width: 102%;
}
#menubar ul ul li:first-child {
	position: relative;
        align: center;
	float: none;
	margin: 0;
	padding: 0;
	left: -1px;
	top: -1px;
	width: 102%;
	-webkit-border-top-left-radius: 9px;
	-webkit-border-top-right-radius: 9px;
	-moz-border-radius-topleft: 9px;
	-moz-border-radius-topright: 9px;
}
#menubar ul ul li:last-child {
	-webkit-border-bottom-left-radius: 9px;
	-webkit-border-bottom-right-radius: 9px;
	-moz-border-radius-bottomleft: 9px;
	-moz-border-radius-bottomright: 9px;
	position: relative;
        align: center;
	float: none;
	margin: 0;
	padding: 0;
	left: -1px;
	bottom: -1px;
	width: 102%;
}
#menubar ul ul li:hover {
	background: -webkit-gradient(linear, left top, left bottom, from(#7a7a7a), to(#6E24FF));
	background: -moz-linear-gradient(top,  #7a7a7a,  #6E24FF);
}
#menubar ul ul a:hover {

}
#menubar ul ul form:hover {

}
#menubar ul ul a {
        position: relative;
        top: 0px;
        align: center;
	font-weight: 550;
        color: white;
	//text-shadow: 0 1px 1px rgba(33, 33, 33, .9);
        font-size: 25;
	width: 100px;
}
#menubar ul ul form {
        position: relative;
        top: 0px;
        align: center;
	font-weight: normal;
	text-shadow: 0 1px 1px rgba(255, 255, 255, .9);
        font-size: 25;
	width: 100px;
}
/* level 3+ list */
#menubar ul ul ul {
	left: 181px;
	top: -3px;
}
/* rounded corners for first and last child */
#menubar ul ul li:first-child > a {
	-webkit-border-top-left-radius: 9px;
	-moz-border-radius-topleft: 9px;
	-webkit-border-top-right-radius: 9px;
	-moz-border-radius-topright: 9px;
}
#menubar ul ul li:last-child > a {
	-webkit-border-bottom-left-radius: 9px;
	-moz-border-radius-bottomleft: 9px;
	-webkit-border-bottom-right-radius: 9px;
	-moz-border-radius-bottomright: 9px;
}